.rootManageQuestions {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.filterManageQuestionsDiv {
    width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
