.rootAddModifyQuestion {
    height: 100%;
    overflow-y: auto;
}

.rootAddModifyQuestion .typeAndCategoryDiv {
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rootAddModifyQuestion .questionListDiv {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
}

.rootAddModifyQuestion .answerListDiv {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    margin-bottom: 50px;
}

.rootAddModifyQuestion .questionListDivSelected {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: cornflowerblue;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
}

.rootAddModifyQuestion .answerListDivSelected {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: cornflowerblue;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    margin-bottom: 50px;
}

.rootAddModifyQuestion .actionsDiv {
    height: 40px;
    width: 100%;
    min-height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
}

.rootAddModifyQuestion .header {
    font-size: 1.5em;
    font-weight: 400;
    
    border-width: 0 0 1px 0;
    border-color: gray;
    border-bottom: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.titleEdit {
    padding: 5px 5px 5px 15px;
}

.descriptionEdit {
    padding: 5px 5px 5px 15px;
}

.itemAction {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.itemContent {
    flex-grow: 1;
}

.item {
    display: flex;
}