.rootViewQuestion {
    height: 100%;
    overflow-y: auto;
}

.rootViewQuestion .rootViewQuestionFiltersDiv {
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rootViewQuestion .rootViewQuestionActionsDiv {
    height: 40px;
    width: 100%;
    min-height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
}

.rootViewQuestion .viewQuestionContentQuestionDiv {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
}

.rootViewQuestion .viewQuestionContentAnswerDiv {
    min-height: calc((100% - 72px) /2);
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    margin-bottom: 45px;
}

.titleView {
    font-size: 1.65em;
    font-weight: 500;
    margin-bottom: 10px;
}

.descriptionView {
    font-size: 1em;
    margin: 10px 5px;
}

.imgViewImg {
    max-width: 100%;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }