.manageCategoriesContainer {
    width: 100%;
    height: 100%;
}

@media (max-width: 999px) {
    .manageCategoriesContainer .manageCategoriesLeft {
        width: 100%;
        padding: 20px 10px;
    }
    
    .manageCategoriesContainer .manageCategoriesRight {
        width: 100%;
        padding: 20px 10px;
    }
}

@media (min-width: 1000px) {
    .manageCategoriesContainer .manageCategoriesLeft {
        width: 30%;
        height: 100%;
        float: left;
        padding: 20px 10px;
    }
    
    .manageCategoriesContainer .manageCategoriesRight {
        width: 70%;
        float: right;
        height: 100%;
        padding: 20px 10px;
    }
}