.reviewRoot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reviewTransfer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.reviewAction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}